.dropDownMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 220px;
  position: absolute;
  background-color: #002939;
  justify-content: space-between;
  height: 100px;
  transition: visibility 0s, opacity 0.5s linear;
  margin-top: 20px;
}
.dropDownMenuBtn {
  color: #e4cfa9;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}
.dropDownMenu.inactive {
  visibility: hidden;
  transition: visibility 0s, opacity 0.2s linear;
  opacity: 0;
}
.dropDownMenuBtn:hover {
  background-color: rgba(255, 255, 255, 0.904);
  color: #002939;
}
.dropDownMenu.active {
  visibility: visible;
  transition: visibility 0s, opacity 0.2s linear;

  opacity: 1;
}
