.imgDiv {
  width: 100%;
  position: relative;
  background-color: black;
  margin: 0;
  padding: 0;
}
.images {
  width: 100%;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}
.welcome {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  background: url(https://s01.cdn-pegast.net/get/f8/d9/a7/f011c31de122ffc06d653b57bc8e52fbba7a6a9a9da99c96f18d337db0/5c3dec186770c.jpg);
  height: 80vh;
}
.welcomeInner {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #e4cfa9;
  height: 40%;
}
.privateBtn {
  background-color: #002939;
  padding: 16px 24px;
  font-size: 18px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.5s;
  border-top-right-radius: 3x;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 40px;
}
.privateBtn:hover {
  background-color: #e4cfa9;
  color: #002939;
}
.reserveBar {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.reserveInp {
  height: 40px;
  font-size: 18px;
  padding: 5px;
  border-color: transparent;
  fill-opacity: 0.4;
  background-color: rgba(255, 255, 255, 0.5);
}
.reserveInp.search {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 30%;
  padding-left: 40px;
  background: url(https://cdn-icons-png.flaticon.com/512/1946/1946488.png)
    no-repeat scroll 7px 10px;
  background-size: auto 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.reserveInp.number {
  background: url(http://cdn.onlinewebfonts.com/svg/img_570334.png) no-repeat
    scroll 5px 10px;
  padding-left: 30px;
  background-size: auto 50%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 20%;
}
.line {
  background-color: rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 40px;
  display: flex;
  align-items: center;
}
.innerLine {
  height: 30px;
  background-color: grey;
  width: 1px;
}
.homeTitle {
  font-size: 40px;
}
.secondTitle {
  font-size: 30px;
}
@media all and (max-width: 1311px) {
  .homeTitle {
    font-size: 40px;
  }
  .secondTitle {
    font-size: 25px;
  }
}
.dateDiv {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.dateInputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}
.reserveInp.dates1 {
  width: 60%;
  padding-left: 35px;
  color: rgb(85, 85, 85);
  background: url(http://cdn.onlinewebfonts.com/svg/img_464317.png) no-repeat
    scroll 7px 10px;
  background-size: auto 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.reserveInp.dates2 {
  width: 50%;
  color: rgb(85, 85, 85);
  background-color: rgba(255, 255, 255, 0.5);
}
textarea:focus,
input:focus {
  outline: none;
}

.cards {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.oneCard {
  margin-bottom: 20px;
  margin-left: 50px;
}
