* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  /* color: #002939; */
}
.block-1 {
  background-image: url(https://avatrs.mds.yandex.net/get-altay/2812564/2a0000017322eac33c13e2227ada80a28d6a/XXL);
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 500px;
  position: relative;
}
.block-1_opacity {
  background-color: #002939;
  opacity: 0.5;
  /* width: 100%; */
  height: 500px;
}
.block-1_h2 {
  position: absolute;
  text-align: center;
  font-size: 72px;
  /* font-weight: bolder; */
  color: #e4cfa9;
  left: 35%;
}
.block-2 {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #002939;
}
.block-2_number {
  margin-left: 100px;
  font-size: 68px;
  /* font-weight: bold; */
  color: #002939;
}
.block-2_left {
  /* margin-left: 150px; */
  color: #002939;
  display: flex;
  flex-direction: column;
  margin-left: 370px;
  row-gap: 40px;
}
.number_category {
  font-size: 48px;
  font-weight: bold;
}
p {
  font-size: 24px;
  line-gap-override: 2px;
}
.standart {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.block-2_right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  row-gap: 40px;
}
.booking-btn {
  width: 300px;
  height: 50px;
  background-color: #ffff;
  color: #002939;
  border: #002939 solid 2px;
  border-radius: 4px;
}
.booking-btn:hover {
  background-color: #002939;
  color: #e4cfa9;
  transition: 0.8s;
}
.lux-booking-btn {
  width: 300px;
  height: 50px;
  background-color: #ffff;
  color: #002939;
  border: #002939 solid 2px;
  border-radius: 4px;
}
.lux-booking-btn:hover {
  background-color: #002939;
  color: #e4cfa9;
  transition: 0.8s;
}
.lux {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.vip {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.comment-btn {
  width: 300px;
  height: 50px;
  background-color: #ffff;
  color: #002939;
  border: #002939 solid 2px;
  border-radius: 4px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.comment-btn:hover {
  background-color: #002939;
  color: #e4cfa9;
  transition: 0.8s;
}
@media all and (max-width: 1024px) {
  .block-2_number {
    margin-left: 50px;
    font-size: 48px;
  }
  .standart,
  .lux,
  .vip {
    justify-content: center;
  }
  .block-2_left {
    margin-left: 0px;
  }
}
@media all and (max-width: 768px) {
  .block-1_h2 {
    font-size: 55px;
    left: 28%;
  }
  #standart_img_right {
    display: none;
  }
  #lux_img_left {
    display: none;
  }

  #vip_img_right {
    display: none;
  }
  .standart,
  .vip {
    flex-direction: column;
    align-items: center;
  }
  .lux {
    flex-direction: column-reverse;
    align-items: center;
  }
  .booking-btn {
    margin-top: 10%;
    margin-left: -24%;
  }
  .lux-booking-btn {
    margin-top: 10%;
    margin-left: -14%;
  }
}
@media all and (max-width: 768px) {
  .block-1_h2 {
    font-size: 36px;
    left: 19%;
  }

  .block-2_number {
    font-size: 36px;
  }
  .block-1 {
    height: 300px;
  }
  .number_category {
    font-size: 24px;
  }
}
@media all and (max-width: 320px) {
  #standart_img_left,
  #lux_img_right,
  #vip_img_left {
    width: 300px;
    height: 300px;
  }
  .block-2_right {
    margin: 0;
    align-items: center;
  }
  .block-2_left {
    align-items: center;
  }
  .block-2_number {
    margin-left: 5px;
  }
  .booking-btn {
    margin-left: 0;
  }
}
